<!-- inicio.component.html -->
<div class="inicio-container text-center mt-5">
  <h1 class="mb-4">Bienvenido a SportApp</h1>
  <p class="mb-4">Explora y gestiona tus ejercicios y planes de entrenamiento.</p>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalle de Ejercicio</h5>
          <p class="card-text">Consulta la información detallada de tus ejercicios.</p>
          <a [routerLink]="['/inicio/detalles-ejercicio', ejercicioId]" class="btn btn-primary">Ver detalle</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Plan de Entrenamiento</h5>
          <p class="card-text">Accede a tus planes de entrenamiento personalizados.</p>
          <a [routerLink]="['/inicio/detalles-plan-entrenamiento']" class="btn btn-primary">Ver plan</a>
        </div>
      </div>
    </div>
  </div>
</div>